[Desktop Entry]
Name=Epiphany
Name[fr]=Epiphany
Comment=A Boulderdash clone
Comment[fr]=Clone de Boulderdash
Exec=epiphany-game
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/epiphany-game.xpm
Categories=Game;ArcadeGame;
