#####################################################
#
# GitLab version    : 9.x - 
# Contributors      : andries van schie
#
####################################################

[Unit]
Description=Gitlabhq @SLOT@ target.
# gitlabhq-@SLOT@-unicorn is already required by gitlab-workhorse
Requires=gitlabhq-@SLOT@-workhorse.service gitlabhq-@SLOT@-sidekiq.service
Wants=gitlabhq-@SLOT@-gitaly.service
# Add Wants symlinks to postgresql-9.5.service or mysqld.service should to be added to
#   /etc/systemd/systemd/gitlabhq.target.wants
# Optional: add Wants=gitlabhq-@SLOT@-mailroom.service

[Install]
WantedBy=multi-user.target
Alias=gitlabhq.target
