#####################################################
#
# GitLab version    : 9.x - 
# Contributors      : andries van schie
#
####################################################

[Unit]
Description=Gitlab Gitaly handles Gitlab RPC calls.
Wants=gitlabhq-@SLOT@-unicorn.service
After=gitlabhq-@SLOT@-unicorn.service
PartOf=gitlabhq-@SLOT@.target

[Service]
User=git
Environment="GITALY_ARGS=/etc/gitaly/config.toml"
WorkingDirectory=@DEST_DIR@
ExecStart=/usr/bin/gitlab-gitaly ${GITALY_ARGS}
