#####################################################
#
# Contributors      : davispuh, mtorromeo, axilleas, boeserwolf91, Stefan Tatschner (rumpelsepp), firelizzard
# Originally from   : https://gitlab.com/gitlab-org/gitlab-recipes/tree/master/init/systemd
#
####################################################

[Unit]
Description=Gitlab mailroom Worker
Requires=gitlabhq-@SLOT@-unicorn.service
Wants=gitlabhq-@SLOT@-unicorn.service
After=gitlabhq-@SLOT@-unicorn.service
PartOf=gitlabhq-@SLOT@.target

[Service]
User=git
Environment=RAILS_ENV=production
WorkingDirectory=@DEST_DIR@
SyslogIdentifier=gitlab-mailroom
PIDFile=@TMP_DIR@/pids/gitlab-mailroom.pid
Type=oneshot
RemainAfterExit=yes

ExecStart=@DEST_DIR@/bin/mail_room start
ExecStop=@DEST_DIR@/bin/mail_room stop
