#####################################################
#
# Contributors      : davispuh, mtorromeo, axilleas, boeserwolf91, Stefan Tatschner (rumpelsepp), firelizzard
# Originally from   : https://gitlab.com/gitlab-org/gitlab-recipes/tree/master/init/systemd
#
####################################################

[Unit]
Description=GitLab Unicorn Server
# Only start service when config/unicorn.rb exist
ConditionFileNotEmpty=@CONF_DIR@/unicorn.rb
Requires=redis.service
# Wants symlinks to postgresql-9.5.service or mysqld.service should to be added to
#   /etc/systemd/systemd/gitlabhq.target.wants
After=redis.service postgresql-9.5.service mysqld.service
PartOf=gitlabhq-@SLOT@.target

[Service]
User=git
WorkingDirectory=@DEST_DIR@
Environment=RAILS_ENV=production
SyslogIdentifier=gitlab-unicorn
PIDFile=@TMP_DIR@/pids/unicorn.pid
ExecStart=@DEST_DIR@/bin/bundle exec "unicorn_rails -D -c @CONF_DIR@/unicorn.rb -E ${RAILS_ENV}"
