[Desktop Entry]
Name=Doubledash
Comment=Multiplayer remake of BoulderDash
Comment[fr]=Remake multijoueur de BoulderDash
Exec=doubledash
Icon=/usr/share/pixmaps/doubledash.png
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
