*.ebuild gitlab-language=shell
*.initd* gitlab-language=shell
*.confd* gitlab-language=shell
*.logrotate* gitlab-language=shell
*.eclass gitlab-language=shell
*.service* gitlab-language=ini
*.socket gitlab-language=ini
