[MESSAGES CONTROL]
disable=C0103,C0111,C0302,E1103,I0011,R0201,R0902,R0903,R0911,R0912,R0913,R0914,R0915,W0122,W0141,W0142,W0403,W0511,W0703,R0904,R0921,R0922,bad-continuation

[REPORTS]
reports=no

[FORMAT]
indent-string='	'

[TYPECHECK]
ignored-classes=hashlib,numpy

[BASIC]
function-rgx=([A-Z_][a-zA-Z0-9]{2,30}|main)$
method-rgx=((_|test)?[A-Z][a-zA-Z0-9]{2,30}|__[a-z]+__|setUp|tearDown)$

[SIMILARITIES]
min-similarity-lines=20

[VARIABLES]
dummy-variables-rgx=_|unused_

[DESIGN]
max-parents=10
