[Desktop Entry]
Name=JESC Configurator
Comment=Application for JESC firmware flashing and configuration
Exec=/opt/jesc-configurator/jesc-configurator
Icon=jesc-configurator
Terminal=false
Type=Application
Categories=Utility
