[Desktop Entry]
Name=xdigger
Comment=Arcade diamonds digging game
Exec=xdigger
Icon=/usr/share/pixmaps/xdigger.xpm
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
