[Desktop Entry]
Type=Application
Name=Moneychanger
GenericName=Open-Transactions Client
Comment=An intuitive QT/C++ system tray client for Open-Transactions.
Categories=Qt;Network;
Exec=/usr/bin/moneychanger-qt
Icon=moneychangericon
StartupNotify=false
Terminal=false

