# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit sia.service
# See "man systemd.service" for details.

[Unit]
Description=Sia daemon
After=network.target

[Service]
ExecStart=/usr/bin/siad -d /var/lib/sia
User=sia
Restart=on-failure

[Install]
WantedBy=multi-user.target
