[Desktop Entry]
Name=BLHeli Configurator
Comment=Application for BLHeli firmware flashing and configuration
Exec=/opt/blheli-configurator/blheli-configurator
Icon=blheli-configurator
Terminal=false
Type=Application
Categories=Utility
